<form [formGroup]="form" (ngSubmit)="submit()">
  <ion-item lines="none">
    <ion-grid>
      <ion-row>
        <ion-col>
          <app-tags-control formControlName="tagsControl"></app-tags-control>
          <app-tags-list formControlName="tagsList" [isInputOpen]="form.value.tagsControl"></app-tags-list>
          <app-tags-input formControlName="tagsInput"
                          *ngIf="form.value.tagsControl"
                          [addedTags]="tags"
                          [suggestions]="suggestions"
                          (ionOnPushTag)="pushTag($event)"
                          (ionOnRemoveTag)="removeTag($event)" maxlength="32">
          </app-tags-input>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="form.value.tagsControl && (suggestions | filter:form.value.tagsInput).length> 0">
        <ion-col>
          <app-tags-suggestions-list formControlName="tagsSuggestionsList"
                                     [suggestions]="(suggestions | filter:form.value.tagsInput)"
                                     (ionPushTag)="pushTag($event)">
          </app-tags-suggestions-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <div *ngIf="!form.valid" style="width: 100%;height: 1px;background-color: red;">
    <ion-text color="danger"
              *ngIf="form.controls.tagsInput.errors?.maxlength">Name of Tag should be less than 32
      characters!
    </ion-text>
  </div>

</form>
